*{
	margin: 0;
	padding: 0;
}

.wrapper{
	/*height: 30vh;*/
}

.card {
	width: 500px;
	height: 666px;
	cursor: pointer;
	position: absolute;
	top: 120%;
	left: -25%;
	transform: translate(-50%,-50%);

	&:hover{
		.front{
			transform: perspective(900px) rotateY(180deg);
		}
		.back {
			transform: perspective(900px) rotateY(0);
		}
	}
}

.front,
.back{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transition: transform .5s ease;
	border-radius: 30px;
	background: linear-gradient(40deg,#000,#111);
}

.front {
	transform: perspective(900px) rotateY(0);

	img {
		width: 100%;
		height: auto;
	}

}

.back{
	transform: perspective(900px) rotateY(-180deg);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	h1{
		color: #fff;
		font-size: 50px;

		span{
			display: block;
			font-size: 33px;
			font-weight: 300;
			margin: 5px 0 10px;
		}

	}
}